.container
  %h2 New
  = form_tag '/result' do
    .form-group
      = text_area_tag :input_text, nil, class: 'form-control'
      = hidden_field_tag :authenticity_token, form_authenticity_token
    .form-group
      = submit_tag 'Submit', class: 'btn btn-primary'
  %h2 Previous
  - @results.each do |result|
    %p
      = "#{result.created_at.to_formatted_s(:short)}:"
      = link_to "#{result.uuid}", result_path(result.uuid)

